body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chatbot{
  min-width: 100px;
  width: 30%;
  min-height: 500px;
  height: 50%;
}

.Bot{
  text-align: right;
  position: absolute;
  bottom: 70px;
  right: 16px;
  font-size: 18px;
  height: 50%;
}

.chat-button{
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.bot{
  height: 100%;
  
}


.btn-action{
  font-family: Helvetica;
  background-color:#f5a623;
  border-color: #f5a623;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #d18c1b;
  border-color: #d18c1b;
}

.btn-add {
  position: absolute;
  right: 0px;
}

.search-header {
  padding: 40px 0;
  margin-bottom: 40px;
  
  min-height: 70px;

}

.search-content{
  margin: 0 auto;
  max-width: 800px;
  padding-left: 4px;
  padding-right: 4px;
}

.textfield{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  color: white;
}

.chat{
  min-height: 100px;
}